body {
    font-family: "inter", sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

h1 {
    font-size: 1,5rem;
    font-weight: 700;
}

button {
    border: none;
    cursor: pointer;

    background-color: var(--color-primary);
    color: #ffffff;

    padding: 12px 20px;

    border-radius: var(--border-radius);

    font-size: 1rem;
    font-weight: 600;

    transition: 0.2s;
}

button:hover {
    opacity: 0.5;
}

.layout {
    display: grid;
    grid-template-columns: 260px 1fr;

    min-height: calc(100vh - 81px);
}

.content {
    display: grid;
    padding: 32px;
}

.content h2 {
    margin-bottom: 24px;
}
.task-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.task-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-surface);

    padding: 20px;

    border-radius: var(--border-radius);

    border: 1px solid #334155;
}